@charset "UTF-8";
/*css初始化*/
html,body,div,span,p,h1,h2,h3,h4,h5,h6,img,ol,ul,li,dl,dt,dd,form,input,button,th,td,a{
	margin: 0;
	padding: 0;
}
@font-face
{
	font-family: Regular;
	src: url('../SourceHanSansCN/SourceHanSansCN-Regular.otf');
}
@font-face
{
	font-family: Heavy;
	src: url('../SourceHanSansCN/SourceHanSansCN-Heavy.otf');
}
@font-face
{
	font-family: Medium;
	src: url('../SourceHanSansCN/SourceHanSansCN-Medium.otf');
}
@font-face
{
	font-family: Bold;
	src: url('../SourceHanSansCN/SourceHanSansCN-Bold.otf');
}

html,body{
	width: 100%;
	font-family: Heavy;
	background-color: #fff;
	height:auto;
}
/*各浏览器显示不同，去掉蓝色边框*/
fieldset,img,input,button {
    /*border: none;*/
    padding: 0;
    margin: 0;
    outline-style: none;
}

ol,ul{
	list-style: none;
}
a,a:link,a:hover{
	text-decoration: none;
}
img{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	display: block;
}

/*公共类*/
/*左浮动*/
.fl{
	float: left;
}
/*右浮动*/
.fr{
	float:right;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}
/*版心*/
.bx{
	width: 13rem;
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
/*css初始化结束*/

/*!*导航栏*!*/
#nav{
	position: fixed;
	height: 0.8rem;
	width: 100%;
	top: 0;
	left: 0;
	z-index:9;
	background-color: rgba(93, 115, 138, 0.45);
	font-family: Regular;
}
#nav .bx{
	height: 100%;
}
#nav .logo{
	position: absolute;
	width: 1.2rem;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}
.logo>img,.rwm>img{
	width: 100%;
}
#nav .navbar{
	position: absolute;
	display: -webkit-flex; /* Safari */
	display: flex;
	right: 0;
	height: 100%;
}
#nav .navbar>div{
	font-size: 0.15rem;
	height: .8rem;
	cursor: pointer;
	line-height: .8rem;
	color: #fff;
	margin:0 0.15rem;
}
#nav .navbar .languageBtn{
	cursor:auto;
	display: -webkit-flex; /* Safari */
	display: flex;
	color: #DBDBDB;
	margin:0 0.15rem 0 0.25rem;
}
#nav .navbar .languageBtn>div{
	margin:0 0.03rem;
}
#nav .navbar .languageBtn>.btn{
	cursor: pointer;
}
#nav .navbar .staffBtn{
	color: #DBDBDB;
	margin-right: 0;
}

.more{
    width: 1.33rem;
    height: .4rem;
    background-color: #DD0012;
    font-size: 0.15rem;
    letter-spacing: 1px;
    text-align: center;
    line-height: .4rem;
    color: #fff;
    border-radius: .2rem;
	cursor: pointer;
}
#bot{
	width: 100%;
	height: 2.6rem;
	background-color: #004A95;
}
#bot .content{
	height: 1.86rem;
	width: 100%;
	border-bottom: 0.02rem solid #316DA9;
	position: relative;
	font-size: .14rem;
	font-family: Regular;
    color: #fff;
}
#bot .content .bx{
	width: 1.4rem;
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between ;
	align-items: center;
    height: 100%;
}
#bot .content .bx .logo{
	width: 1.2rem;
}
#bot .content .bx .rwm{
	width: 0.92rem;
}
#bot .content .btn{
    margin:0.07rem 0;
    cursor: pointer;
    letter-spacing: 1px;
}
#bot .content .bx>div:nth-child(5)>div{
    margin:0.07rem 0;
    letter-spacing: 1px;
}
#bot .content .bx>div:nth-child(5)>div:nth-child(1){
    font-family: Bold;
}
#bot .ICP{
    width: 100%;
    text-align: center;
    color: #D5D7D6;
    font-size: .12rem;
	font-family: Regular;
    line-height: .72rem;
}

