html, body {
    overflow-y: hidden;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*轮播图1*/
#swiper1 .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#swiper1 .bg {
    min-height: 100%;
    width: 100%;
}

#swiper1 .animated {
    position: absolute;
    width: 6rem;
    top: 2.8rem;
    left: 10.8rem;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}

/*part1*/
#part1 {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: -1rem;
    overflow: hidden;
}

#part1 .bg {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#part1 .bg1{
    display: block;
}

#part1 .bx {
    height: 100%;
}

#part1 .box {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 55%;
    left: 8rem;
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
}

#part1 .box .ball {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#part1 .box .blueBall {
    background-color: rgb(0, 73, 149);
    width: 0%;
    height: 0%;
    opacity: 1;
    z-index: 2;
}

#part1 .box .whiteBall {
    background-color: white;
    width: 0%;
    height: 0%;
    opacity: 0;
}

#part1 .box .greyBall {
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background-color: rgb(220, 220, 220);
    overflow: hidden;
}

#part1 .box .greyBall > img {
    width: 0;
    height: 0;
}

#part1 .ball1Box {
    position: absolute;
    left: 49%;
    top: 22%;
    height: 1px;
    width: 43%;
    /*background-color: #000;*/
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

#part1 .ball1Box.moveLeft {
    -webkit-animation: ball1-1 1.2s linear forwards;
    -moz-animation: ball1-1 1.2s linear forwards;
    -o-animation: ball1-1 1.2s linear forwards;
    animation: ball1-1 1.2s linear forwards;
}

#part1 .ball1Box.moveRight {
    -webkit-animation: ball1-2 1.2s linear forwards;
    -moz-animation: ball1-2 1.2s linear forwards;
    -o-animation: ball1-2 1.2s linear forwards;
    animation: ball1-2 1.2s linear forwards;
}

#part1 .ball1 {
    position: absolute;
    width: .7rem;
    height: .7rem;
    top: -.4rem;
    right: 0;
    -webkit-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
    display: none;
}

#part1 .ball1Box.moveLeft .ball1 {
    -webkit-animation: ball1-1-1 1.2s linear forwards;
    -moz-animation: ball1-1-1 1.2s linear forwards;
    -o-animation: ball1-1-1 1.2s linear forwards;
    animation: ball1-1-1 1.2s linear forwards;
}

#part1 .ball1Box.moveRight .ball1 {
    -webkit-animation: ball1-2-2 1.2s linear forwards;
    -moz-animation: ball1-2-2 1.2s linear forwards;
    -o-animation: ball1-2-2 1.2s linear forwards;
    animation: ball1-2-2 1.2s linear forwards;
}

#part1 .ball1 > img {
    position: relative;
    width: .7rem;
    height: .7rem;
    top: 0;
    left: 0;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -webkit-animation: ballMove1 2s linear infinite;
    -moz-animation: ballMove1 2s linear infinite;
    -o-animation: ballMove1 2s linear infinite;
    animation: ballMove1 2s linear infinite;
}

#part1 .ball2Box {
    position: absolute;
    left: 48%;
    top: 62%;
    height: 1px;
    width: 25%;
    /*background-color: #000;*/
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotateZ(50deg);
    -moz-transform: rotateZ(50deg);
    -ms-transform: rotateZ(50deg);
    -o-transform: rotateZ(50deg);
    transform: rotateZ(50deg);
}

#part1 .ball2Box.moveLeft {
    -webkit-animation: ball2-1 1.2s linear forwards;
    -moz-animation: ball2-1 1.2s linear forwards;
    -o-animation: ball2-1 1.2s linear forwards;
    animation: ball2-1 1.2s linear forwards;
}

#part1 .ball2Box.moveRight {
    -webkit-animation: ball2-2 1.2s linear forwards;
    -moz-animation: ball2-2 1.2s linear forwards;
    -o-animation: ball2-2 1.2s linear forwards;
    animation: ball2-2 1.2s linear forwards;
}

#part1 .ball2 {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: -.7rem;
    right: 0;
    -webkit-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
    display: none;
}

#part1 .ball2Box.moveLeft .ball2 {
    -webkit-animation: ball2-1-1 1.2s linear forwards;
    -moz-animation: ball2-1-1 1.2s linear forwards;
    -o-animation: ball2-1-1 1.2s linear forwards;
    animation: ball2-1-1 1.2s linear forwards;
}

#part1 .ball2Box.moveRight .ball2 {
    -webkit-animation: ball2-2-2 1.2s linear forwards;
    -moz-animation: ball2-2-2 1.2s linear forwards;
    -o-animation: ball2-2-2 1.2s linear forwards;
    animation: ball2-2-2 1.2s linear forwards;
}

#part1 .ball2 > img {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    top: 0;
    left: 0;
    -webkit-transform: rotateZ(-50deg);
    -moz-transform: rotateZ(-50deg);
    -ms-transform: rotateZ(-50deg);
    -o-transform: rotateZ(-50deg);
    transform: rotateZ(-50deg);
    -webkit-animation: ballMove1 3s linear infinite;
    -moz-animation: ballMove1 3s linear infinite;
    -o-animation: ballMove1 3s linear infinite;
    animation: ballMove1 3s linear infinite;
}

#part1 .box .ball3 {
    position: absolute;
    width: .6rem;
    height: .6rem;
    top: 85%;
    left: 75%;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    display: none;
}

#part1 .box .ball3 > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e50112;
    border-radius: 50%;
    top: 0;
    left: 0;
    -webkit-animation: ballMove1 3.5s linear infinite;
    -moz-animation: ballMove1 3.5s linear infinite;
    -o-animation: ballMove1 3.5s linear infinite;
    animation: ballMove1 3.5s linear infinite;
}

#part1 .bx .content {
    position: absolute;
    width: 100%;
    top: 2.3rem;
    left: 0;
    -webkit-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    display: none;
}

#part1 .bx .content .title {
    font-family: Medium;
    font-size: .24rem;
    color: #3e3a39;
    display: inline-block;
}

#part1 .bx .content .title .borderB {
    width: 100%;
    height: .1rem;
    background-color: #004a95;
    border-radius: .04rem;
}

#part1 .bx .content .main {
    font-family: Heavy;
    font-size: .5rem;
    color: #004a95;
    margin-top: .3rem;
    margin-bottom: .5rem;
}

#part1 .bx .content .knowBtn {
    font-family: Regular;
    font-size: .16rem;
    color: #fff;
    background-color: #e50112;
    width: 1.34rem;
    height: .38rem;
    line-height: .38rem;
    border-radius: .2rem;
    text-align: center;
    letter-spacing: 1px;
    -webkit-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
    cursor: pointer;
}

#part1 .bx .content2 {
    left: 6.9rem;
}
#part1 .indexBox{
    position: absolute;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    left: 50%;
    bottom: 7%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#part1 .indexBox div{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    opacity: .2;
    margin:0 4px;
}
#part1 .indexBox .now{
    background-color: #007aff;
    opacity: 1;
}
#part1 .down:nth-child(1){
    top: .2rem;
    height: .8rem;
}


.down{
    position: absolute;
    width: 8.5%;
    left: 45.75%;
    bottom: 0;
    z-index:1;
    cursor: pointer;
}
.down>img{
    width: 100%;
}
/*part2*/
#part2 {
    position: relative;
    z-index: 2;
    width: 100%;
}

#part2 .bg {
    width: 100%;
    min-height: 100%;
}

#part2 .bx {
    height: 100%;
}
#part2 .knowBtn{
    font-family: Regular;
    font-size: .16rem;
    color: #fff;
    background-color: #e50112;
    width: 1.34rem;
    height: .38rem;
    line-height: .38rem;
    border-radius: .2rem;
    text-align: center;
    letter-spacing: 1px;
    -webkit-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
    cursor: pointer;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 15%;
    display: none;
}

#part2 .bx>.title {
    font-family: Medium;
    font-size: .24rem;
    color: #fff;
    position: absolute;
    top: .9rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#part2 .title .borderB {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    border-radius: .04rem;
}

#part2 .box {
    position: absolute;
    width: 100%;
    left: 0;
    top: 2.7rem;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
#part2 .box .every>img{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -27%;
    width: 30%;
    display: none;
}
#part2 .box .every{
    position: relative;
    width: 2.17rem;
    height: 2.17rem;
    /*cursor: pointer;*/
}
#part2 .box .every .ballBox{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#part2 .box .every:hover .borderBox{
    opacity: 0;
    filter: alpha(opacity=0);
}
#part2 .box .every .ballBox .borderBox{
    position: absolute;
    width: 2.17rem;
    height: 2.17rem;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.08rem solid #1b61c0;
    background-color: #11457e;
    z-index:1;
    /*cursor: pointer;*/
    top: 0;
    left: 0;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    display: none;
}
#part2 .box .every .ballBox .borderBox.move{
    -webkit-animation: circle 10s linear infinite;
    -moz-animation: circle 10s linear infinite;
    -o-animation: circle 10s linear infinite;
    animation: circle 10s linear infinite;
}
#part2 .box .every .ballBox .borderBox .smallBall{
    position: absolute;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    border: .05rem solid #fff;
    background-color: #004995;
    left: -.15rem;
    top: 50%;
    z-index:2;
    /*display: none;*/
    -webkit-animation-delay:.8s;
    -o-animation-delay:.8s;
    animation-delay:.8s;
}
#part2 .box .every .ballBox .arc{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 2.17rem;
    height: 2.17rem;
    border-radius: 50%;
    background: #1b61c0;
    background-image: linear-gradient(to right, transparent 50%, #d1d5e0 0);
    display: none;
    z-index:2;
}

#part2 .box .every .ballBox .arc::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0/50%;
    background-color: inherit;
    transform-origin: left;
    animation: spin .5s linear forwards;
    opacity: 1;
    filter: alpha(opacity=100);
}
#part2 .box .every .ballBox .arc::after {
    position: absolute;
    content: '';
    display: block;
    width: 2.01rem;
    height: 2.01rem;
    background-color: #11457e;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
#part2 .box .every .ballBox .white{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    /*top: 50%;*/
    /*left: 50%;*/
    /*-webkit-transform: translate(-50%,-50%);*/
    /*-moz-transform: translate(-50%,-50%);*/
    /*-ms-transform: translate(-50%,-50%);*/
    /*-o-transform: translate(-50%,-50%);*/
    /*transform: translate(-50%,-50%);*/
    z-index:2;
    display: none;
}
#part2 .box .every .ballBox .white>div{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}
#part2 .box .every:hover .ballBox .white>div{
    -webkit-animation: whiteShow .7s linear forwards;
    -moz-animation: whiteShow .7s linear forwards;
    -o-animation: whiteShow .7s linear forwards;
    animation: whiteShow .7s linear forwards;
}
/*#part2 .box .every .ballBox .white>div{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: none;*/
    /*-webkit-animation-delay:.5s;*/
    /*-o-animation-delay:.5s;*/
    /*animation-delay:.5s;*/
/*}*/
#part2 .box .every .ballBox .white img{
    position: absolute;
    left: 50%;
    top: .3rem;
    width: .62rem;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#part2 .box .every4 .ballBox .white img{
    width:0.68rem;
}
#part2 .box .every5 .ballBox .white img{
    width:0.52rem;
}
#part2 .box .every .ballBox .white .t{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Bold;
    font-size: .24rem;
    color: #004995;
    left: 0;
    top: 1rem;
}
#part2 .box .every .ballBox .white ul{
    position: absolute;
    width: 100%;
    top: 1.4rem;
    display: none;
}
#part2 .box .every:hover .ballBox .white ul{
    display: block;
    -webkit-animation-delay:.5s;
    -o-animation-delay:.5s;
    animation-delay:.5s;
}
#part2 .box .every .ballBox .white ul li{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    font-size: .1rem;
    font-family: Regular;
    color: #727171;
    /*margin-top: .03rem;*/
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
#part2 .box .every .ballBox .white .more{
    width: 1.1rem;
    height: .3rem;
    background-color: #004894;
    color: #fff;
    text-align: center;
    font-size: .14rem;
    font-family: Medium;
    line-height: .3rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: .2rem;
    cursor: pointer;
    display: none;
}
#part2 .box .every:hover .ballBox .white .more{
    display: block;
    -webkit-animation-delay:.5s;
    -o-animation-delay:.5s;
    animation-delay:.5s;
}
/*#part2 .box .every .liBox{*/
    /*position: absolute;*/
    /*top: .24rem;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*background-color: #fff;*/
    /*border-radius: .8rem;*/
    /*display: none;*/
/*}*/
/*#part2 .box .every:hover .liBox{*/
    /*display: block;*/
/*}*/
/*#part2 .box .every .liBox>img{*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: .3rem;*/
    /*width: .62rem;*/
    /*-webkit-transform: translateX(-50%);*/
    /*-moz-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*-o-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
/*}*/
/*#part2 .box .every4 .liBox>img{*/
    /*width:0.68rem;*/
/*}*/
/*#part2 .box .every5 .liBox>img{*/
    /*width:0.52rem;*/
/*}*/
/*#part2 .box .every .liBox .title{*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*font-family: Bold;*/
    /*font-size: .24rem;*/
    /*color: #004995;*/
    /*margin-top: 1rem;*/
/*}*/
/*#part2 .box .every .liBox li{*/
    /*width: 80%;*/
    /*margin-left: 10%;*/
    /*font-size: .1rem;*/
    /*font-family: Regular;*/
    /*color: #727171;*/
    /*!*margin-top: .03rem;*!*/
    /*-webkit-transform: scale(0.9);*/
    /*-moz-transform: scale(0.9);*/
    /*-ms-transform: scale(0.9);*/
    /*-o-transform: scale(0.9);*/
    /*transform: scale(0.9);*/
/*}*/
/*#part2 .box .every .liBox .more{*/
    /*width: 1.1rem;*/
    /*height: .4rem;*/
    /*background-color: #004894;*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*font-size: .2rem;*/
    /*font-family: Medium;*/
    /*line-height: .4rem;*/
    /*margin:.15rem auto .2rem auto;*/
/*}*/
#part2 .box .every .moveBall{
    position: absolute;
    width: .38rem;
    height: .38rem;
    border: .05rem solid #fff;
    background-color: #004995;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index:3;
    opacity: 0;
    /*-webkit-animation: ballHide .5s linear forwards;*/
    /*-moz-animation: ballHide .5s linear forwards;*/
    /*-o-animation: ballHide .5s linear forwards;*/
    /*animation: ballHide .5s linear forwards;*/
}
#part2 .box .every:hover .moveBall{
    -webkit-animation: ballShow .5s .3s linear forwards;
    -moz-animation: ballShow .5s .3s linear forwards;
    -o-animation: ballShow .5s .3s linear forwards;
    animation: ballShow .5s .3s linear forwards;
}



/*part3*/
#part3 {
    position: relative;
    z-index: 1;
    width: 100%;
    /*margin-top: -0.4rem;*/
    z-index: 3;
}

#part3 .bx {
    height: 100%;
}

#part3 .bg {
    width: 100%;
    min-height: 100%;
}

#part3 .box {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 55%;
    left: 0rem;
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
}

#part3 .box .ball {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#part3 .box .whiteBall {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 1;
}

#part3 .box .greyBall {
    left: 53%;
    top: 50%;
    width: 4.7rem;
    height: 4.7rem;
    top: 47%;
    background-color: rgb(220, 220, 220);
    overflow: hidden;
}

#part3 .box .greyBall > img {
    width: 100%;
    height: 100%;
}

#part3 .ball2 {
    position: absolute;
    left: -0.5rem;
    top: 95%;
    width: 1.2rem;
    height: 1.2rem;
}

#part3 .ball2 > img {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    top: 0;
    left: 0;
    -webkit-transform: rotateZ(-50deg);
    -moz-transform: rotateZ(-50deg);
    -ms-transform: rotateZ(-50deg);
    -o-transform: rotateZ(-50deg);
    transform: rotateZ(-50deg);
    -webkit-animation: ballMove1 3s linear infinite;
    -moz-animation: ballMove1 3s linear infinite;
    -o-animation: ballMove1 3s linear infinite;
    animation: ballMove1 3s linear infinite;
}

#part3 .box .ball3 {
    position: absolute;
    width: .6rem;
    height: .6rem;
    top: 0%;
    left: 5%;
}

#part3 .box .ball3 > div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e50112;
    border-radius: 50%;
    top: 0;
    left: 0;
    -webkit-animation: ballMove1 3.5s linear infinite;
    -moz-animation: ballMove1 3.5s linear infinite;
    -o-animation: ballMove1 3.5s linear infinite;
    animation: ballMove1 3.5s linear infinite;
}

#part3 .textBox {
    position: absolute;
    width: 7rem;
    left: 5.85rem;
    top: 18%;
    display: none;
}

#part3 .textBox .title {
    font-family: Medium;
    font-size: .24rem;
    color: #3e3a39;
    display: inline-block;
    /*display: none;*/
}

#part3 .textBox .title .borderB {
    width: 100%;
    height: .1rem;
    background-color: #004a95;
    border-radius: .04rem;
}

#part3 .textBox .every {
    margin-top: .5rem;
    position: relative;
    display: none;
}

#part3 .textBox .every .left {
    font-family: Heavy;
    font-size: .5rem;
    color: #004a95;
    vertical-align: bottom;
}

#part3 .textBox .every .right {
    position: absolute;
    left: 35%;
    bottom: 0.14rem;
    font-family: Medium;
    font-size: .16rem;
    color: #727171;
    vertical-align: bottom;
    -webkit-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}

#part3 .textBox .every .line {
    position: absolute;
    width: 100%;
    height: .04rem;
    background-color: rgb(221, 221, 221);
    bottom: -.05rem;
}

#part3 .textBox .every .line .fill {
    position: relative;
    width: 0%;
    height: 100%;
    background-color: #3e3a39;
}

#part3 .textBox .every .line .ball {
    position: absolute;
    background-color: #3e3a39;
    width: .14rem;
    height: .14rem;
    border-radius: 50%;
    top: -.05rem;
    left: 0;
    z-index: 2;
    display: block;
}

#part3 .knowBtn {
    margin-top: .8rem;
    font-family: Regular;
    font-size: .16rem;
    color: #fff;
    background-color: #e50112;
    width: 1.34rem;
    height: .38rem;
    line-height: .38rem;
    border-radius: .2rem;
    text-align: center;
    letter-spacing: 1px;
    -webkit-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
    cursor: pointer;
    display: none;
}

/*part4*/
#part4 {
    position: relative;
    /*margin-top: 2.7rem;*/
    overflow: hidden;
}

#part4 .bx {
    height: 100%;
}

#part4 .bg {
    width: 100%;
    min-height: 100%;
}

#part4 .bx > .title {
    position: absolute;
    font-family: Medium;
    font-size: .24rem;
    color: #3e3a39;
    left: .9rem;
    top: 1rem;
}

#part4 .bx > .title .borderB {
    width: 100%;
    height: .1rem;
    background-color: #004a95;
    border-radius: .04rem;
}

#swiper2 {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#swiper2 .swiper-slide {
    border-radius: .2rem;
    height: 5rem;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-box-shadow: 4px 2px 10px 3px #8b9bad;
    -moz-box-shadow: 4px 2px 10px 3px #8b9bad;
    box-shadow: 4px 2px 10px 3px #8b9bad;
    overflow: hidden;
    cursor: default;
}

#swiper2 .swiper-slide .shade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.45);
    display: block;
    z-index: 1;
}

#swiper2 .swiper-slide-active .shade {
    display: none;
}

#swiper2 .swiper-slide-prev, #swiper2 .swiper-slide-active, #swiper2 .swiper-slide-next {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

#swiper2 .swiper-slide > div {
    box-sizing: border-box;
}

#swiper2 .swiper-slide .top {
    width: 100%;
    height: 30%;
    border-bottom: 0.02rem solid #004a95;
    overflow: hidden;
    position: relative;
}

#swiper2 .swiper-slide .top > img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    max-width: 110%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#swiper2 .swiper-slide .main {
    width: 100%;
    height: 50%;
    overflow: hidden;
    margin-top: 5%;
}

#swiper2 .swiper-slide .main .title {
    width: 80%;
    margin-left: 10%;
    font-size: .2rem;
    font-family: Heavy;
    color: rgb(42, 49, 59);
    text-align: center;
}

#swiper2 .swiper-slide .main .text {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    font-size: .16rem;
    font-family: Medium;
    color: rgb(80, 98, 120);
}

#swiper2 .swiper-slide .bot {
    position: absolute;
    width: 100%;
    height: 12%;
    background-color: #004a95;
    left: 0;
    bottom: 0;
}

#swiper2 .swiper-button-prev {
    width: .55rem;
    height: .68rem;
    background-image: url("../../images/pc/index/leftBtn.png");
    left: .3rem;
    z-index: 2;
    outline: none;
}

#swiper2 .swiper-button-next {
    width: .55rem;
    height: .68rem;
    background-image: url("../../images/pc/index/rightBtn.png");
    right: .3rem;
    z-index: 2;
    outline: none;
}

#swiper2 .swiper-pagination {
    bottom: -.7rem;
}

#part4 .knowBtn {
    position: absolute;
    font-family: Regular;
    font-size: .16rem;
    color: #fff;
    background-color: #e50112;
    width: 1.34rem;
    height: .38rem;
    line-height: .38rem;
    border-radius: .2rem;
    text-align: center;
    letter-spacing: 1px;
    left: 50%;
    bottom: 5%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
}

/*scroll*/
#scrollBox {
    position: fixed;
    z-index: 9;
    top: 50%;
    right: .65rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    /*border-right:2px solid #C7C8CA;*/
}

#scrollBox::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 90%;
    background-color: #C7C8CA;
    right: 0;
    top: 5%;
}

#scrollBox .every {
    position: relative;
    font-family: Regular;
    font-size: 0.14rem;
    color: #c7c7c7;
    margin-top: 0.36rem;
    margin-right: 0.2rem;
    text-align: right;
    cursor: pointer;
}

#scrollBox .every:nth-child(1) {
    margin-top: 0;
}

#scrollBox .every span {
    position: absolute;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
    right: -.25rem;
    top: 50%;
    background-color: #c7c7c7;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
}

#scrollBox .every.now {
    font-family: Medium;
    color: #e50012;
}

#scrollBox .every.now span {
    background-color: #e50012;
}